html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

h1 {
  text-size: 1.5rem;
  color: #3f1622
  font-family: 'PT Sans', sans-serif;
}

h1 i {
  font-style: italic
}

nav li {
  text-size: 1.125rem
  color: #8f2440
  font-family: 'PT Sans', sans-serif;
}

h2{
  color: #3f1622
  font-family: 'PT Sans', sans-serif;
  text-size: 1.5rem;
}

figcaption{
  font-family: font-family: 'PT Serif', serif;
  color: #222;
  font-style: italic;
  text-size: 0.8rem
}

.days{
  font-family: font-family: 'PT Serif', serif;
  font-size: 1.125rem;
  font-weight: bold;
}
