html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

h1 {
  font-size: 1.5rem;
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
}

h1 i {
  font-style: italic;
}

nav li {
  font-size: 1.125rem;
  color: #8f2440;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}

nav a {
  color: #8f2440;
  text-decoration: none;
}

nav a:hover {
  color: #3f1622;
}

footer a {
  color: #8f2440;
  text-decoration: none;
  font-size: 0.8rem;
}

h2 {
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
}

figcaption {
  font-family: 'PT Serif', serif;
  color: #222;
  font-style: italic;
  font-size: 0.8rem;
}

.days {
  font-family: 'PT Serif', serif;
  font-size: 1.125rem;
  font-weight: bold;
  color: #222;
}

main p {
  font-family: 'PT Serif', serif;
  font-size: 1.125rem;
  font-weight: normal;
  color: #222;
}

b {
  font-weight: bold
}

ol {
  list-style-type:lower-greek;
}
